
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <!-- <img src="img/logotipo-sleedw.svg" alt="Logo de SLee Dw"> -->
                        <img src="../../../assets/logo/logo_elvistezen.jpg" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            </div>
            <div class="box">
                <h2>Follow me</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/elvisarturo.tezenvillanueva/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/elvistezen/" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/elvis-tezen-3632351a3" class="fa fa-linkedin"></a>
                    <a href="https://www.youtube.com/channel/UC7bhK9bL_HcU1B9TT_bf7UQ" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2021 <b>SLee Dw</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
